<div class="mobile-menu">
	<nav class="mobile-menu-item">
		<ul>
			<li><a href="#">Copywriters</a></li>
			<li><a href="#">Open orders</a></li>
			<li><a href="#" class="login">login</a></li>
			<li><a href="#" class="writer">Register as a writer</a></li>
			<li><a href="#" class="client">Register as a client</a></li>
		</ul>
	</nav>
	<!-- <ul> -->
	<!-- </ul> -->
</div>
<header id="header">
	<div class="wrapper">
		<a href="#" class="logo"><img src="../img/logo-img.png" alt=""><img src="../img/logo-text.png" alt=""></a>
		<div class="menu-burger">
			<span class="menu-burger-item"></span>
		</div>
		<ul class="header-menu">
			<nav>
				<li><a href="#">Copywriters</a></li>
				<li><a href="#">Open orders</a></li>
			</nav>
		</ul>
		<div class="register">
			<a href="#" class="login">login</a>
			<a href="#" class="writer">Register as a writer</a>
			<a href="#" class="client">Register as a client</a>
		</div>
	</div>
</header>